.center {
  display: flex;
  justify-content: center;
}
.timer {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 30;
}
.label {
  font-weight: 500;
  text-transform: uppercase;
}

.border {
  border-radius: 10px;
  border: 2px solid rgb(163, 77, 77);
  width: 200px;
  height: 50px;
  padding: 20px;
}

.change {
  border-color: rgb(27, 126, 224);
}

#datetime-picker:hover {
  border-color: rgb(27, 126, 224);
}
#datetime-picker:focus {
  outline-color: rgb(27, 126, 224);
}

button {
  padding: 15px 28px;
  border: 2px solid forestgreen;
  border-radius: 10px;
  background-color: rgb(0, 189, 0);
  font-weight: 700;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: rgb(76, 221, 76);
}
button:disabled {
  background-color: lightgrey;
  border-color: grey;
  color: grey;
  cursor: no-drop;
}
button:last-of-type {
  background-color: rgb(238, 83, 83);
  border-color: rgb(163, 77, 77);
  color: white;
}
button:last-of-type:hover {
  background-color: lightcoral;
}
button:last-of-type:disabled {
  background-color: lightgrey;
  border-color: grey;
  color: grey;
  cursor: no-drop;
}
